body,html {
    height: 100%;
    padding: 10px;
}

/* to create the actual parallax effect for the wrapper*/
.container {
    background-attachment: fixed;
     /* Set a specific height */
    height: 100%; 
    padding: 15px;
     /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}  
/**/
.first-slide {
    background-color: #fff;
    color:#000;
    padding: 0;
}
.second-slide {
    background-image: url("./images/parallax2.jpg");
}
.third-slide {
    background-image: url("./images/parallax3.jpg");
}
.about__photo {
    width: 200px;
    height: 200px;
    float: left;
}
.about__intro {
    width: 50%;
        float: left;
}

.coverLetter__wrap {
    clear: both;
}
.top-menu__humburger{
    display:none;
}
.top-menu__humburger span {
    width: 40px;
    display: block;
    height: 5px;
    margin: 5px;
    background-color:lightpink;
    border-radius: 2px;
}



@media only screen and (min-width: 320px) and (max-width: 480px) {
.container {
       background-attachment: scroll;
}
.top-menu__nav {
  display: none;
}
.top-menu__humburger {
    display: block;
    float: right;
}
.top-menu__humburger span {
transition: all .35s ease-in-out;
}

.top-menu__humburger.open span:nth-child(2) {
    opacity: 0;
}
.top-menu__humburger.open span:nth-child(1){
   transform: translateY(10px) rotate(45deg); /*10px takes from margin:5px and height:5px*/
   background-color: #ff9dac;
}

.top-menu__humburger.open span:nth-child(3){
   transform: translateY(-10px) rotate(-45deg);
   background-color: #ff9dac;
}
.about__photo {
    margin: 0 auto;
}
.top-menu__nav.toggleMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.top-menu__nav.toggleMenu a {
padding: 2px;

}
}

@media only screen and (min-width: 481px) and (max-width: 680px) {
 

}